// Created by weiqiang on 2017/4/11
doctype html
html(lang='en', ng-app='polls')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet' href='//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        block content