body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.App__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 55px;
    top: 41px;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 200px;
    float: right;
    bottom: 55px;
    top: 41px;
    border: 1px;
}

.Flow_plumb {
    background: #FFF0F0;
    width: 100%;
    height: 100%;
}

.Repository__container {
    width: 100%;
    max-width: 260px;
    min-width: 260px;
    border-right: 1px solid #cdd6df;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
}

.Canvas__container {
    margin-top: -0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.TabControl__item {
    display: none;
    min-width: 500px;
    width: 100%;
    height: 100%;
    box-shadow: #797979 3px 0 5px;
}

.TabControl__active {
    display: block;
}

.OperatorInfo__container {
    position: fixed;
    top: 41px;
    right: 0;
    bottom: 60px;
    width: 400px;
    overflow-y: auto;
    border-left: 1px solid #c9d1d9;
    background-color: #fafbfc;
    padding: 20px;
    -webkit-transition-property: width, opacity;
    transition-property: width, opacity;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    opacity: .9;
}

.Console__container {
    margin-top: -40px;
    width: 100%;
    overflow: hidden;
}