div.page-header
    h1 Create New Poll

form(role="form", ng-submit="createPoll()")
    div.form-group
        label(for="pollQuestion") Question
        input.form-control(type="text", ng-model="poll.question", id="pollQuestion", placeholder="Enter poll question")

    div.form-group
        label Choices
        div(ng-repeat="choice in poll.choices")
            input.form-control(type="text", ng-model="choice.text", placeholder="Enter choice {{$index+1}} text")
            br
    div.row
        div.col-xs-12
            button.btn.btn-default(type="button", ng-click="addChoice()")
                span.glyphicon.glyphicon-plus  Add another

    p
        hr

    div.row
        div.col-xs-6
            a.btn.btn-default(href="#/polls", role="button")
                span.glyphicon.glyphicon-arrow-left  Back to Poll List

        div.col-xs-6
            button.btn.btn-primary.pull-right(type="submit") Create Poll &raquo;

    p &nbsp;