//
   Created by weiqiang on 2017/4/19.
div(ng-controller='ActivesReadCSV')
    table
        tbody
            tr
                th Sources
                td
                    input.form-control(type="text", ng-model="csvname", placeholder="text the csv pathname")
            tr
                th ID
                td
                    input.form-control(type="text", ng-model="hexname", placeholder="text the hex name")
            tr
                th Parser
                td
                    select(ng-model="separatorval", ng-options="x for x in separators")
            tr
                th Column Headers
                td
                    div(ng-repeat="x in hasHeaders")
                        label
                            input(type="radio", name="hasHeader", ng-model="headername", value="{{x.name}}")
                            span {{x.value}}
            tr
                th Options
                td
                    div
                        label
                            input(type="checkbox", ng-model="useSingleQuotes")
                            span Enable single quotes as a field quotation character
                    div
                        label
                            input(type="checkbox", ng-model="deleteOnDone")
                            span Delete on done
    button(ng-click="save()") 保存
    button(ng-click="run()") 偷偷试运行
    p(ng-show="iserror") {{errormsg}}
    table
        tbody
            tr(ng-repeat="x in column_names")
                th {{column_names[$index]}}
                td {{column_types[$index]}}
