//
   Created by weiqiang on 2017/4/19.
link(rel="stylesheet", href="/stylesheets/Params.css")
link(rel="stylesheet", href="/stylesheets/List.css")
div.paramscontainer
    div.paramsitem(ng-controller='ActivesSetRole')
        div.paramstitle
            span.paramsrequired *
            span 指定属性列角色，选择要使用的列作为独立变量（目标列）
        div.paramscontent
            div.paramsitem
                div.paramstitle
                    span.paramsrequired *
                    span response_column
                div.paramscontent
                    select(ng-model="response_column", ng-options="x for x in column_names")
            //div.listadd
        button(ng-click="save()") 保存
        button(ng-click="run()") 偷偷试运行

